<header>
  <div id="container" routerLink="" title="Banière GestiCert - Retour à l'acceil">
    <img id="logoappli" src="assets\pictures\banappli.png" alt="Logo Gestion Certificat">
    <img id="logoappli2" src="assets/pictures/banappli-moyen.png" alt="Logo Gestion Certificat">
    <img id="logoappli3" src="assets/pictures/banappli-petit.png" alt="Logo Gestion Certificat">
    <div class="element">
      <img id="logoposte" src="assets/pictures/logo-poste.png" alt="Logo Groupe La Poste">
      <img id="logoposte2" src="assets/pictures/logo-poste-petit.png" alt="Logo Groupe La Poste">
    </div>
    <!--    <div class="element" id="banappli">
      <img id="logoappli" src="assets\baniere.png">
    </div>
    <div id="element">
      <h3>Gestion des certificats</h3>
    </div>
    <div class="element">
      <img id="logoposte" src="assets\logo poste.png" alt="Logo Groupe La Poste">
    </div>-->
  </div>
</header>

