@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

body
{
  display: table;
  width: 100%;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
}
