<div title="Administration des applications">

  <h1>Administration des Applications</h1>

  <div id="cadre1">

    <section id="formulaire" title="Formulaire pour ajouter ou modifier une application">

      <h2 *ngIf="editedApplication.idApplication; else elseBlock1"
          title="Formulaire pour modifier l'application {{ editedApplication.nameApplication }}">
        Application : {{ editedApplication.nameApplication }}
      </h2>
      <ng-template #elseBlock1>
        <h2 title="Formulaire pour ajouter une application">Ajout d'une application</h2>
      </ng-template>

      <div id="cadre2">

        <h3>* Champs obligatoires</h3>

        <form #logForm="ngForm">
          <div class="form-control">
            <label for="ccx"><strong>Code CCX * : </strong></label>
              <input placeholder="CODE CCX" type="search" id="ccx" name="ccx"
                     [(ngModel)]="editedApplication.codeCCX"
                     title="Champ pour le code CCX de l'application" required>
          </div>
          <div class="form-control">
            <label for="nameApp"><strong>Nom Application * : </strong></label>
              <input placeholder="NOM APPLICATION" type="search" id="nameApp" name="nameApp"
                     [(ngModel)]="editedApplication.nameApplication" title="Champ pour le nom de l'application" required>
          </div>
          <div class="form-control">
            <label for="nameClient"><strong>Nom Client * : </strong></label>
            <input type="search" id="nameClient" [(ngModel)]="editedApplication.nameClient" name="nameClient"
                   placeholder="NOM CLIENT" title="Champ pour le nom du client de l'application" required>
          </div>
          <div class="form-control">
            <label for="firstNameClient"><strong>Prénom Client * : </strong></label>
            <input type="search" id="firstNameClient" [(ngModel)]="editedApplication.firstNameClient"
                   name="firstNameClient" placeholder="PRENOM CLIENT"
                   title="Champ pour le prénom du client de l'application" required>
          </div>
          <div class="form-control">
            <label for="managementClient"><strong>Direction Client * : </strong></label>
            <input type="search" id="managementClient" [(ngModel)]="editedApplication.managementClient"
                   name="managementClient" placeholder="DIRECTION CLIENT"
                   title="Champ pour la direction du client de l'application" required>
          </div>
          <div class="form-control">
            <label for="phoneClient"><strong>Téléphone Client * : </strong></label>
            <input type="search" id="phoneClient" [(ngModel)]="editedApplication.phoneClient" name="phoneClient"
                   placeholder="TELEPHONE CLIENT" title="Champ pour le téléphone du client de l'application" required>
          </div>
          <div class="form-control">
            <label for="mailClient"><strong>E-Mail Client * : </strong></label>
            <input type="search" id="mailClient" [(ngModel)]="editedApplication.eMailClient" name="mailClient"
                   placeholder="E-MAIL CLIENT" title="Champ pour le e-mail du client de l'application" required>
          </div>
        </form>

        <div id="action">
          <a *ngIf="editedApplication.idApplication" role="button" (click)="onBack()"
             title="Annuler les modifications sur l'application {{editedApplication.nameApplication}}">Annuler</a>
          <a *ngIf="editedApplication.idApplication" role="button" (click)="onDelete()"
             title="Supprimer l'application {{editedApplication.nameApplication}}">Supprimer</a>
          <a role="button" (click)="onSave(logForm)"
             title="Sauvegarder l'application {{editedApplication.nameApplication}}">Sauvegarder</a>
        </div>

      </div>

    </section>

    <section id="droite">

      <div title="Formulaire de recherche d'une application">

        <h2>Recherche</h2>

        <div class="cadre3">

          <div *ngFor="let col of cols" [ngSwitch]="col.field">
            <div class="recherche">
              <input *ngSwitchCase="'codeCCX'" pInputText type="search" placeholder="PAR LE CODE CCX"
                     (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                     title="Champ pour la recherche d'une application par son code CCX">
            </div>
            <div class="recherche">
              <input *ngSwitchCase="'nameApplication'" pInputText type="search" placeholder="PAR LE NOM"
                     (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                     title="Champ pour la recherche d'une application par son nom">
            </div>
          </div>

        </div>

      </div>

      <div class="liste" title="Liste des applications">

        <h2>Liste des Applications</h2>

        <div class="cadre3">

          <p-table #dt [columns]="cols" [value]="applications" [paginator]="true" [rows]="4" dataKey="codeCCX"
                   [reorderableColumns]="true" selectionMode="single" [(selection)]="selectedApplication"
                   stateStorage="session" stateKey="statedemo-session">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field" colspan="col.colspan"
                    [ngStyle]="{'width': col.width}" pReorderableColumn>
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-application let-columns="columns">
              <tr routerLink="/gestion/app/{{application.idApplication}}" [pSelectableRow]="application">
                <td *ngFor="let col of cols">{{ application[col.field] }}</td>
              </tr>
            </ng-template>
          </p-table>

        </div>

      </div>

    </section>

  </div>

</div>

