/* TITRES */
h1 {
  text-align: center;
  font-size: 20px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 10px;
  color: brown;
  text-align: center;
  padding-bottom: 10px;
}

/* CADRES */
#cadre1 {
  border: 2px solid #003DA5;
  border-radius: 5px;
  margin: 0 10% 80px 10%;
  padding: 0 1%;
  background-color: #D9EAF4;
  display: inline-flex;
  width: 80%;
}

#cadre2 {
  border: 1px solid #003DA5;
  border-radius: 5px;
  margin: 0 4% 15px 0;
  padding: 4%;
}

.cadre3 {
  border: 1px solid #003DA5;
  border-radius: 5px;
  width: 100%;
  padding: 2%;
}

#gauche {
  width: 100%;
}
/*
#liste {
  margin-top: 32px;
}*/

/* FORMULAIRE */
#formulaire {
  width: 100%;
}

form {
  text-align: right;
  margin-right: 5%;
}

label {
  font-size: 10px;
}

.form-control {
  margin-bottom: 15px;
}

input {
  font-family: Montserrat, sans-serif;
}

form input {
  width: 60%;
}

.recherche input
{
  width: 100%;
}

.recherche:last-child {
  margin-top: 5px;
}

/* BOUTONS */
#action {
  text-align: right;
  margin-top: 20px;
}

#action a {
  padding: 2px 5px;
  color: black;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 15px;
}

#action a[role="button"]
{
  background-color: #9CC6DA;
  border: 1px solid #003DA5;
}

#action a[role="button"]:hover
{
  color: #FFCB05;
  background-color: #003DA5;
}

/* ADAPTABILITE */
@media (max-width: 900px) {
  form {
    margin-right: 0;
  }

  #cadre1 {
    width: 90%;
    margin: 0 5% 100px 5%;
  }
}

@media (max-width: 800px) {
  #cadre1 {
    width: 98%;
    margin: 0 1% 100px 1%;
  }
}

@media (max-width: 700px) {
  #gauche {
    width: 70%;
  }
}

@media (max-width: 550px) {
  #cadre1 {
    display: inline-block;
    width: 90%;
    margin: 0 5% 100px 5%;
    padding: 0 5% 5% 5%;
  }

  #cadre2, .cadre3 {
    width: 100%;
  }

  #cadre2 {
    margin-bottom: 30px;
  }

  #gauche {
    width: 100%;
  }

  h1 {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  #cadre1 {
    width: 98%;
    margin: 0 1% 100px 1%;
  }
}
