<div class="titre" title="Administration des environnements">
  <h1>Administration des Environnements</h1>



<div class="cadre">

  <div id="formulaire">

    <h2>Recherche</h2>

    <div class="cadre2">
      <div id="filtres" *ngFor="let col of cols" [ngSwitch]="col.field">
        <div id="filtre1">
          <input *ngSwitchCase="'nameEnvironment'" pInputText type="search" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="PAR LE NOM DE L'ENVIRONNEMENT">
        </div>
      </div>
    </div>

    <div id="espace">
      <h2 *ngIf="editedEnvironment.idEnvironment; else elseBlock1"
          title="Formulaire pour modifier l'environnement {{ editedEnvironment.nameEnvironment }}">
        Environnement : {{ editedEnvironment.nameEnvironment }}
      </h2>
      <ng-template #elseBlock1 title="Formulaire pour ajouter un environnement">
        <h2>Ajout d'un environnement <br></h2>
      </ng-template>
      <div class="cadre2">
        <h3>* Champs obligatoires</h3>
        <form #logForm="ngForm">
          <div>
            <div class="form-control">
              <label for="name"><strong>Nom * : </strong></label>
              <input placeholder="NOM" type="search" id="name" name="name" [(ngModel)]="editedEnvironment.nameEnvironment"
                     title="Champ pour le nom de l'environnement" required>
            </div>
            <br>
          </div>
        </form>
        <div id="modification">
          <a *ngIf="editedEnvironment.idEnvironment" class="choix" role="button" routerLink="/gestion/env" title="Annuler les modifications sur l'environnement {{ editedEnvironment.nameEnvironment }}">Annuler</a>
          <a *ngIf="editedEnvironment.idEnvironment" class="choix" role="button" (click)="onDelete()" title="Supprimer l'environnement {{ editedEnvironment.nameEnvironment }}">Supprimer</a>
          <a class="choix" role="button" (click)="onSave(logForm)" title="Sauvegarder l'environnement {{ editedEnvironment.nameEnvironment }}">Sauvegarder</a>
        </div>
      </div>
    </div>

  </div>

  <div id="liste" title="Liste des environnements">

    <h2>Liste des Environnements</h2>

    <div id="table">
      <div id="autour">
        <p-table #dt [columns]="cols" [value]="environments" [paginator]="true" [rows]="4" dataKey="nameEnvironment" [resizableColumns]="true" [reorderableColumns]="true"
                 selectionMode="single" [(selection)]="selectedEnvironment" stateStorage="session" stateKey="statedemo-session">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of cols" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-environment let-columns="columns">
            <tr routerLink="/gestion/env/{{ environment.idEnvironment }}" [pSelectableRow]="environment">
              <td *ngFor="let col of cols">{{ environment[col.field] }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

</div>

</div>
