<div title="Accessibilité de l'application">

  <section id="cadre1">

    <h1>Accessibilité</h1>

    <div id="cadre2">

      <h2>Le Groupe La Poste s'engage</h2>

      <p>
        "Mettre le Web et ses services à la disposition de tous les individus,
        quel que soit leur matériel ou logiciel, leur infrastructure réseau,
        leur langue maternelle, leur culture, leur localisation géographique,
        ou leurs aptitudes physiques ou mentales".
        (Extrait de la définition de l’accessibilitéadoptée par le World Wide Web Consortium)
        <br>
        <br>
        La loi n°2005-102 du 11 février 2005 pour l’égalité des droits et des chances,
        la participation et la citoyenneté des personnes handicapées,
        fait de l’accessibilité une exigence pour tous les services de communication publique en ligne de l’État,
        des collectivités territoriales et des établissements publics qui en dépendent.
        <br>
        <br>
        En application de cette loi, un Référentiel Général d'Accessibilité pour les Administrations (RGAA)
        est élaboré. Ce référentiel, à forte dimension technique, offre une traduction opérationnelle
        des critères d’accessibilité issus des règles internationales ainsi qu'une méthodologie
        pour vérifier la conformité à ces critères.
        <br>
        <br>
        Le Comité Exécutif du Groupe La Poste a décidé qu'au même titre que les sites internet
        du Groupe La Poste destinés à ses clients, les sites internes destinés aux postiers
        devront tendre vers le niveau AA du référentiel RGAA.
      </p>

    </div>

  </section>

</div>
