<head>
  <title>
    Certificat {{ editedCertificate.environment.nameEnvironment }} {{ editedCertificate.application.nameApplication }} -
    GestiCert</title>
</head>

<section id="entete">

  <div title="{{ editedCertificate.environment.nameEnvironment }} {{ editedCertificate.application.nameApplication }}">
    <div id="name">
      <p>
        <img src="assets/icons/certificate.svg" alt="Logo certificat">&nbsp;
        Certificat <strong>{{ editedCertificate.environment.nameEnvironment }}</strong>
        de l'application <strong>{{ editedCertificate.application.nameApplication }}</strong>
      </p>
    </div>
  </div>

  <div>
    <div id="deconnexion" title="Déconnexion de l'application">
      <a role="button" (click)="onDeconnect()">Déconnexion</a>
    </div>
  </div>

</section>

<section id="formulaire">
    <h1 *ngIf="((editedCertificate.dateEndValidity | date: 'yyyy-MM-dd') < (dateNow | date: 'yyyy-MM-dd')); else elseBlock1">Demande du certificat SSL</h1>
    <ng-template #elseBlock1><h1>Renouvellement du certificat SSL</h1></ng-template>
  <div id="cadreForm">
    <form>
      <h2>1. Identification de la demande :</h2>
      <section id="demandeur">
        <h3>
          Information sur le demandeur :
          <a role="button" routerLink="/accueil/{{editedUser.idRHUser}}/profil/">Modifier</a>
        </h3>
        <table id="table1">
          <tbody>
          <tr>
            <td class="td1"><strong>Service du demandeur :</strong></td>
            <td class="td2">{{editedUser.department.nameDepartment}}</td>
          </tr>
          <tr>
            <td class="td1"><strong>Nom du demandeur :</strong></td>
            <td class="td2">{{editedUser.nameUser}}</td>
          </tr>
          <tr>
            <td class="td1"><strong>Prénom du demandeur :</strong></td>
            <td class="td2">{{editedUser.firstNameUser}}</td>
          </tr>
          <tr>
            <td class="td1"><strong>Fonction du demandeur :</strong></td>
            <td class="td2">{{editedUser.profile.typeProfile}}</td>
          </tr>
          <tr>
            <td class="td1"><strong>Téléphone du demandeur :</strong></td>
            <td class="td2">{{editedUser.phoneUser}}</td>
          </tr>
          <tr>
            <td class="td1"><strong>E-mail du demandeur :</strong></td>
            <td class="td2">{{editedUser.eMailUser}}</td>
          </tr>
          </tbody>
        </table>
      </section>
      <br>
      <section id="referent">
        <h4>Si le demandeur est un prestataire, le postier référent recevra les notifications d'expirations</h4>
        <div class="form-control" id="form1">
          <label for="emailRef">
            <strong>E-mail du postier référent : </strong>
            <span *ngIf="(editedCertificate.statusDemand.idStatusDemand === 3)">{{editedCertificate.eMailReferent}}</span>
          </label>
          <input type="search" id="emailRef" *ngIf="editedCertificate.statusDemand.idStatusDemand !== 3" [(ngModel)]="editedCertificate.eMailReferent"
                 name="emailRef" placeholder="Entrez l'e-mail du référent"
                 required title="Champ pour l'e-mail du postier référent si le demandeur est un prestataire">
        </div>
      </section>
      <br>
      <section>
        <h3>Information sur le client :</h3>
        <table id="table2">
          <tbody>
          <tr>
            <td class="td1"><strong>Nom du client :</strong></td>
            <td class="td2">{{editedCertificate.application.nameClient}}</td>
          </tr>
          <tr>
            <td class="td1"><strong>Prénom du client :</strong></td>
            <td class="td2">{{editedCertificate.application.firstNameClient}}</td>
          </tr>
          <tr>
            <td class="td1"><strong>Direction du client :</strong></td>
            <td class="td2">{{editedCertificate.application.managementClient}}</td>
          </tr>
          <tr>
            <td class="td1"><strong>Téléphone du client :</strong></td>
            <td class="td2">{{editedCertificate.application.phoneClient}}</td>
          </tr>
          <tr>
            <td class="td1"><strong>E-mail du client :</strong></td>
            <td class="td2">{{editedCertificate.application.eMailClient}}</td>
          </tr>
          </tbody>
        </table>
      </section>
      <br>
      <section>
        <h3>Information complémentaire : <span>* Champs obligatoires</span></h3>
        <div class="form-control" id="form2">
          <label for="desirDate">
            <strong>Date de réalisation souhaitée * : </strong>
            <span *ngIf="(editedCertificate.statusDemand.idStatusDemand === 3)">{{editedCertificate.dateCreationDesired | date: 'dd/MM/yyyy'}}</span>
          </label>
          <input type="date" id="desirDate" *ngIf="editedCertificate.statusDemand.idStatusDemand !== 3" [(ngModel)]="editedCertificate.dateCreationDesired"
                 name="desirDate" required title="Champ pour la date de réalisation souhaitée">
        </div>
        <br>
        <div class="form-control" id="form3">
          <label for="transmissionDate">
            <strong>Date de transmission * : </strong>
            <span *ngIf="(editedCertificate.statusDemand.idStatusDemand === 3)">{{editedCertificate.dateTransmission | date: 'dd/MM/yyyy'}}</span>
          </label>
          <input type="date" id="transmissionDate" *ngIf="editedCertificate.statusDemand.idStatusDemand !== 3" [(ngModel)]="editedCertificate.dateTransmission"
                 name="transmissionDate" required title="Champ pour la date de réalisation souhaitée">
        </div>
        <br>
        <div id="contexte" class="form-control">
          <label for="contxt">
            <strong id="context">Description du contexte : </strong>
            <span *ngIf="(editedCertificate.statusDemand.idStatusDemand === 3)">{{editedCertificate.descriptionContext}}</span>
          </label>
          <br>
          <textarea id="contxt" *ngIf="editedCertificate.statusDemand.idStatusDemand !== 3" [(ngModel)]="editedCertificate.descriptionContext"
                    name="contxt" rows="2" cols="48" placeholder="Entrez la description du contexte de la demande"
                    required title="Champ pour la description du contexte"></textarea>
        </div>
        <br>
      </section>
      <section>
        <h2>2. Information sur la demande :</h2>
        <table id="table3">
          <tbody>
          <tr>
            <td class="td1"><strong>Type de la demande :</strong></td>
            <td class="td2">
              <span *ngIf="((editedCertificate.dateEndValidity | date: 'yyyy-MM-dd') >= (dateNow | date: 'yyyy-MM-dd'))"> Renouvellement</span>
              <span *ngIf="((editedCertificate.dateEndValidity | date: 'yyyy-MM-dd') < (dateNow | date: 'yyyy-MM-dd'))"> Création</span>
            </td>
          </tr>
          <tr>
            <td class="td1"><strong>Code CCX de l'application :</strong></td>
            <td class="td2">{{editedCertificate.application.codeCCX}}</td>
          </tr>
          <tr>
            <td class="td1"><strong>Nom commun</strong> "URL principale du site" <strong>:</strong></td>
            <td class="td2">{{editedCertificate.linkAddressPrincipal}}</td>
          </tr>
          <tr *ngFor="let addrAlt of listAddressAlternatives">
            <td class="td1">
              <strong>Adresse(s) alternative(s) :</strong>
            </td>
            <td class="td2">
       <!--       <span *ngIf="editedCertificate.idCertificate === addrAlt.certificate.idCertificate">-->
                {{addrAlt.linkAddressAlternative}}
        <!--      </span>-->
            </td>
          </tr>
          <tr>
            <td class="td1"><strong>Plateforme :</strong></td>
            <td class="td2">{{editedCertificate.plateform.namePlateform}}</td>
          </tr>
          <tr *ngFor="let server of listServers">
            <td class="td1"><strong>Serveur(s) :</strong></td>
            <td class="td2">{{server.nameServer}}</td>
   <!--         <td class="td2">{{editedCertificate.server.nameServer}}</td>-->
          </tr>
          </tbody>
        </table>
      </section>
    </form>
    <br>
    <div class="modification">
      <a role="button" routerLink="/accueil/{{editedUser.idRHUser}}" title="annuler la demande">Annuler</a>
      <a role="button" *ngIf="editedCertificate.statusDemand.idStatusDemand !== 3" (click)="onSave()" title="Valider la demande">Valider</a>
      <a role="button" *ngIf="editedCertificate.statusDemand.idStatusDemand === 3" (click)="onSend()" title="Envoyer la demande">Transmettre</a>
    </div>
  </div>
</section>
