<section id="entete">

  <div id="user">
    <div id="name">
      <p>
        <mat-icon aria-hidden="false">person</mat-icon>
        {{ editedUser.nameUser }} {{ editedUser.firstNameUser }}
      </p>
    </div>
    <div id="profile">
      <a role="button" routerLink="/profil/{{ editedUser.idUser }}">Mon Profil</a>
    </div>
  </div>

  <div id="deconnexion">
    <a role="button" (click)="deconnexion()">Déconnexion</a>
  </div>

</section>

<section class="addUser" *ngIf="editedUser.profile.idProfile === 3">
  <a role="button" routerLink="/profil/ajout">Ajout utilisateur</a>
</section>

<section id="certif">

  <div id="titre">
    <h1>Liste des Certificats</h1>
  </div>

  <div id="cadre">
    <table id="table1">
      <thead>
      <tr>
        <th id="th1">CCX</th>
        <th class="th2">Application</th>
        <th class="th2">Environnement</th>
        <th class="th2">Type</th>
        <th id="th3">Emission</th>
        <th id="th4">Validité</th>
      </tr>
      </thead>

      <tbody>
      <!--*ngIf="certificate.application.users[0].idUser === editedUser.idUser"-->
      <tr *ngFor="let certificate of certificatesList | async" routerLink="/certificat/{{ certificate.idCertificate }}">
        <td>{{ certificate.application.codeCCX }}</td>
        <td>{{ certificate.application.nameApplication }}</td>
        <td>{{ certificate.environment.nameEnvironment }}</td>
        <td>{{ certificate.root.nameRoot }}</td>
        <td>{{ certificate.dateIssue | date: 'dd/MM/yyyy' }}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>




<!--
<div>
  <button routerLink="">reset</button>
</div>-->

<!--<div *ngIf="editedProfile.idProfile">
  <h5>Liste des utilidateurs ayant le profil {{ editedProfile.typeProfile }} :</h5>
  <div id="brut">
    <table id="table1">
      <div>
        <thead>
        <tr>
          <th>Profil</th>
          <th>Id</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Connexion</th>
        </tr>
        </thead>

        <tbody *ngFor="let user of usersList | async">
        <tr *ngIf="editedProfile.idProfile === user.profile.idProfile">
          <td>{{ user.profile.typeProfile }}</td>
          <td>{{ user.idUser }}</td>
          <td>{{ user.nameUser }}</td>
          <td>{{ user.firstNameUser }}</td>
          <td>
            <button routerLink="accueil/{{ user.idUser }}">Se connecter</button>
          </td>
        </tr>
        </tbody>
      </div>
    </table>
  </div>-->

<!--<div *ngFor="let user of usersList | async">
  <div *ngIf="editedProfile.idProfile === user.profile.idProfile">->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource2" class="table2">

    <ng-container matColumnDef="userProfile">
      <th mat-header-cell *matHeaderCellDef>Profil</th>
      <td mat-cell *matCellDef="let user">
        <div *ngIf="editedProfile.idProfile === user.profile.idProfile">
          {{ user.profile.typeProfile }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let user">
        <div *ngIf="editedProfile.idProfile === user.profile.idProfile">
          {{ user.idUser }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let user">
        <div *ngIf="editedProfile.idProfile === user.profile.idProfile">
          {{ user.nameUser }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="userFirstName">
      <th mat-header-cell *matHeaderCellDef>Prénom</th>
      <td mat-cell *matCellDef="let user">
        <div *ngIf="editedProfile.idProfile === user.profile.idProfile">
          {{ user.firstNameUser }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="connexion">
      <th mat-header-cell *matHeaderCellDef>Connexion</th>
      <td mat-cell *matCellDef="let user">
        <div *ngIf="editedProfile.idProfile === user.profile.idProfile">
          <button routerLink="accueil/{{ user.idUser }}">Connecter</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>
</div>
<!-</div>
</div>->
</div>

<ng-template #elseBlock>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Authentification</mat-card-title>
    </mat-card-header>
    <p>* Champs obligatoires</p>
    <mat-card-content>
      <form>
        <table id="table3" class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Identifiant RH" [(ngModel)]="userIdRH" name="idrh" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Mot de passe" [(ngModel)]="userPassword" type="password" name="password"
                       required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <mat-button-toggle-group>
        <mat-button-toggle value="connexion" (click)="login()">Connexion</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
  <div>
    <h5>Liste des profils :</h5>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="table2">

        <ng-container matColumnDef="profileId">
          <th mat-header-cell *matHeaderCellDef>Id.</th>
          <td mat-cell *matCellDef="let profile">{{ profile.idProfile }}</td>
        </ng-container>

        <ng-container matColumnDef="profileType">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let profile">{{ profile.typeProfile }}</td>
        </ng-container>

        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef>Affichage</th>
          <td mat-cell *matCellDef="let profile">
            <button routerLink="auth/{{ profile.idProfile }}">Afficher</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</ng-template>-->





