<div title="Administration des utilisateurs">

  <h1>Administration des Utilisateurs</h1>

  <div id="cadre1">

    <section id="formulaire" title="Formulaire pour ajouter ou modifier un utilisateur">

      <h2 *ngIf="editedUser.idUser; else elseBlock1"
          title="Formulaire pour modifier l'utilisateur {{ editedUser.nameUser }} {{ editedUser.firstNameUser }}">
        Utilisateur : {{ editedUser.nameUser }} {{ editedUser.firstNameUser }}
      </h2>
      <ng-template #elseBlock1 title="Formulaire pour ajouter un utilisateur">
        <h2>Ajout d'un utilisateur<br></h2>
      </ng-template>

      <div id="cadre2">

        <h3>* Champs obligatoires</h3>

        <form #logForm="ngForm">
          <div class="form-control">
            <label for="idRHUser"><strong>Identifiant RH * : </strong></label>
              <input placeholder="IDENTIFIANT RH" type="search" id="idRHUser" name="idRHUser"
                     [(ngModel)]="editedUser.idRHUser" title="Champ pour l'identifiant de l'utilisateur" required>
          </div>
          <div class="form-control">
            <label for="nameUser"><strong>Nom * : </strong></label>
              <input placeholder="NOM" type="search" id="nameUser" name="nameUser"
                     [(ngModel)]="editedUser.nameUser" title="Champ pour le nom de l'utilisateur" required>
          </div>
          <div class="form-control">
            <label for="firstNameUser"><strong>Prénom * : </strong></label>
              <input placeholder="PRENOM" type="search" id="firstNameUser" name="firstNameUser"
                     [(ngModel)]="editedUser.firstNameUser" title="Champ pour le prénom de l'utilisateur" required>
          </div>
          <div class="form-control" *ngIf="editedUser.idUser === 0; else elseBlock2">
            <label for="password"><strong>Mot de passe * : </strong></label>
            <input placeholder="MOT DE PASSE" type="password" id="password" name="password"
                   [(ngModel)]="editedUser.passwordUser" title="Champ pour le mot de passe de l'utilisateur" required>
          </div>
          <ng-template #elseBlock2>
            <div id="modif"></div>
          </ng-template>
          <div class="form-control">
            <label for="profile"><strong>Profil * : </strong></label>
            <select name="profile" id="profile" class="form-control"
                    [(ngModel)]="editedUser.profile.idProfile" title="Champ pour le profil de l'utilisateur">
              <option *ngFor="let profile of profilesList | async" [value]="profile.idProfile">
                {{ profile.typeProfile }}
              </option>
            </select>
          </div>
          <div class="form-control">
            <label for="department"><strong>Service * : </strong></label>
            <select name="department" id="department" class="form-control"
                    [(ngModel)]="editedUser.department.idDepartment" title="Champ pour le service de l'utilisateur">
              <option *ngFor="let department of departmentsList | async" [value]="department.idDepartment">
                {{ department.nameDepartment }}
              </option>
            </select>
          </div>
          <div class="form-control">
            <label for="eMailUser"><strong>E-mail * : </strong></label>
            <input placeholder="E-MAIL" type="search" id="eMailUser" name="eMailUser"
                   [(ngModel)]="editedUser.eMailUser" title="Champ pour l'e-mail de l'utilisateur" required>
          </div>
          <div class="form-control">
            <label for="phoneUser"><strong>Téléphone : </strong></label>
            <input placeholder="TELEPHONE" type="search" id="phoneUser" name="phoneUser"
                   [(ngModel)]="editedUser.phoneUser" title="Champ pour le téléphone de l'utilisateur" required>
          </div>
        </form>

        <div id="action">
          <a *ngIf="editedUser.idUser" role="button" routerLink="/gestion/uti"
             title="Annuler les modifications sur l'utilisateur {{ editedUser.nameUser }} {{ editedUser.firstNameUser }}">
            Annuler
          </a>
          <a *ngIf="editedUser.idUser" role="button" (click)="onDelete()"
             title="Supprimer l'utilisateur {{ editedUser.nameUser }} {{ editedUser.firstNameUser }}">Supprimer</a>
          <a role="button" (click)="onSave(logForm)"
             title="Sauvegarder l'utilisateur {{ editedUser.nameUser }} {{ editedUser.firstNameUser }}">Sauvegarder</a>
        </div>

      </div>

    </section>

    <section id="droite">

      <div title="Formulaire de recherche d'un utilisateur">

        <h2>Recherche</h2>

        <div class="cadre3">

          <div *ngFor="let col of cols" [ngSwitch]="col.field">
            <div class="recherche">
              <input *ngSwitchCase="'idRHUser'" pInputText type="search" placeholder="PAR L'IDENTIFIANT RH"
                     (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                     title="Champ pour la recherche d'un utilisateur par son identifiant RH">
            </div>
            <div class="recherche">
              <input *ngSwitchCase="'nameUser'" pInputText type="search" placeholder="PAR LE NOM"
                     (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                     title="Champ pour la recherche d'un utilisateur par son nom">
            </div>
            <div class="recherche">
              <input *ngSwitchCase="'firstNameUser'" pInputText type="search" placeholder="PAR LE PRENOM"
                     (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                     title="Champ pour la recherche d'un utilisateur par son prénom">
            </div>
          </div>

        </div>

      </div>

      <div class="liste" title="Liste des utilisateurs">

        <h2>Liste des Utilisateurs</h2>

        <div class="cadre3">

          <p-table #dt [columns]="cols" [value]="users" [paginator]="true" [rows]="4" dataKey="idRHUser"
                   [reorderableColumns]="true" selectionMode="single" [(selection)]="selectedUser"
                   stateStorage="session" stateKey="statedemo-session">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field" colspan="col.colspan"
                    [ngStyle]="{'width': col.width}" pReorderableColumn>
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-columns="columns">
              <tr routerLink="/gestion/uti/{{ user.idUser }}" [pSelectableRow]="user">
                <td *ngFor="let col of cols">{{ user[col.field] }}</td>
              </tr>
            </ng-template>
          </p-table>

        </div>

      </div>

    </section>

  </div>

</div>
