<div class="titre" title="Administration des utilisateurs">
  <h1>Administration des Utilisateurs</h1>
</div>

<div class="cadre">

  <div id="1">
    <h1 *ngIf="editedUser.idUser; else elseBlock1"
        title="Formulaire pour modifier l'utilisateur {{ editedUser.nameUser }} {{ editedUser.firstNameUser }}">Modification de l'utilisateur <br>{{ editedUser.nameUser }} {{ editedUser.firstNameUser }}</h1>
    <ng-template #elseBlock1 title="Formulaire pour ajouter un utilisateur"><h1>Ajout d'un utilisateur <br></h1></ng-template>
    <h2>* Champs obligatoires</h2>
    <form>
      <div>
        <div class="form-control">
          <label for="idRH">Identifiant * : </label>
          <input type="search" id="idRH" [(ngModel)]="editedUser.idRHUser" name="idRH" placeholder="Entrez l'identifiant RH"
                 required title="Champ pour l'identifiant RH">
        </div>
        <br>
        <div class="form-control" *ngIf="editedUser.idUser === 0">
          <label for="mdp">Mot de passe * : </label>
          <input type="search" id="mdp" [(ngModel)]="editedUser.passwordUser" name="mdp"
                 placeholder="Entrez le mot de passe" required title="Champ pour le mot de passe">
        </div>
        <br *ngIf="editedUser.idUser === 0">
        <div class="form-control">
          <label for="nom">Nom * : </label>
          <input type="search" id="nom" [(ngModel)]="editedUser.nameUser" name="nom" placeholder="Entrez le nom" required title="Champ pour le nom">
        </div>
        <br>
        <div class="form-control">
          <label for="prenom">Prénom * : </label>
          <input type="search" id="prenom" [(ngModel)]="editedUser.firstNameUser" name="prenom" placeholder="Entrez le prénom"
                 required title="Champ pour le prénom">
        </div>
        <br>
        <div class="form-control" *ngIf="editedUser.idUser">
          <label for="userProfile">Profil * : </label>
          <select
            name="userProfile"
            id="userProfile"
            class="form-control"
            [(ngModel)]="editedUser.profile.idProfile" title="Champ pour le profil">
            <option *ngFor="let profile of profilesList | async"
                    [value]="profile.idProfile">{{ profile.typeProfile }}</option>
          </select>
        </div>
        <br *ngIf="editedUser.idUser">
      </div>
      <div class="form-control" *ngIf="editedUser.idUser">
        <label for="userService">Service * : </label>
        <select
          name="userService"
          id="userService"
          class="form-control"
          [(ngModel)]="editedUser.department.idDepartment" title="Champ pour le service">
          <option *ngFor="let department of departmentsList | async"
                  [value]="department.idDepartment">{{ department.nameDepartment }}</option>
        </select>
      </div>
      <br *ngIf="editedUser.idUser">
      <div class="form-control">
        <label for="tel">Téléphone : </label>
        <input type="search" id="tel" [(ngModel)]="editedUser.phoneUser" name="tel" placeholder="Entrez le téléphone" title="Champ pour le téléphone">
      </div>
      <br>
      <div class="form-control">
        <label for="email">E-mail * : </label>
        <input type="search" id="email" [(ngModel)]="editedUser.eMailUser" name="email" placeholder="Entrez le mail" title="Champ pour le mail">
      </div>
      <br>
    </form>
    <br>
    <div id="modification">
      <a *ngIf="editedUser.idUser" id="supprime" role="button" (click)="onDelete()" title="Supprimer l'utilisateur {{ editedUser.nameUser }} {{ editedUser.firstNameUser }}">Supprimer</a>
      <a id="sauvegarde" role="button" (click)="onSave()" title="Sauvegarder l'utilisateur {{ editedUser.nameUser }} {{ editedUser.firstNameUser }}">Sauvegarder</a>
    </div>
  </div>

  <div id="2" title="Liste des utilisateurs">
    <h1>Liste des Utilisateurs</h1>

    <table class="table">
      <thead>
      <tr>
        <th>IdRH</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th></th>
      </tr>
      </thead>

      <tbody ng *ngFor="let user of usersList | async" title="{{ user.idRHUser }} {{ user.nameUser }} {{ user.firstNameUser }}">
      <tr>
        <td>{{ user.idRHUser }}</td>
        <td>{{ user.nameUser }}</td>
        <td>{{ user.firstNameUser }}</td>
        <td>
          <a role="button" routerLink="/gestion/uti/{{user.idUser}}"
             title="Modification du compte de {{ user.idRHUser }} {{ user.nameUser }} {{ user.firstNameUser }}">Modifier/Supprimer</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
