<div title="A prpos du site GestiCert">

  <section id="cadre1">

    <h1>A propos du site GestiCert</h1>

    <div id="cadre2">

      <h2>A propos</h2>

      <p>
        L'application GestiCert est un gestionnaire de certificats SSL permettant à ses utilisateurs de sécuriser
        l'accès aux certificats qu'ils utilisent et de permettre la demande d'un nouveau certificat
        ou le renouvellement d'un certificat existant.
      </p>

      <h2>Plan du site</h2>

      <p id="plan">
        Accueil<br>
        <strong class="first">|</strong><br>
        <strong class="first">|-</strong> Information Profil<br>
        <strong class="first">|</strong><br>
        <strong class="first">|-</strong> Administration Site<br>
        <strong class="first">|</strong><strong class="second">|</strong><br>
        <strong class="first">|</strong><strong class="second">|-</strong> Utilisateur<br>
        <strong class="first">|</strong><strong class="second">|</strong><strong class="third">|</strong><br>
        <strong class="first">|</strong><strong class="second">|</strong><strong class="third">|-</strong> Administration Utilisateur<br>
        <strong class="first">|</strong><strong class="second">|</strong><strong class="third">|</strong><br>
        <strong class="first">|</strong><strong class="second">|</strong><strong class="third">|-</strong> Administration Profil<br>
        <strong class="first">|</strong><strong class="second">|</strong><strong class="third">|</strong><br>
        <strong class="first">|</strong><strong class="second">|</strong><strong class="third">|-</strong> Administration Service<br>
        <strong class="first">|</strong><strong class="second">|</strong><br>
        <strong class="first">|</strong><strong class="second">|-</strong> Application<br>
        <strong class="first">|</strong><strong class="second">|</strong><strong class="third">|</strong><br>
        <strong class="first">|</strong><strong class="second">|</strong><strong class="third">|-</strong> Administration Application<br>
        <strong class="first">|</strong><strong class="second">|</strong><strong class="third">|</strong><br>
        <strong class="first">|</strong><strong class="second">|</strong><strong class="third">|-</strong> Administration Habilitation<br>
        <strong class="first">|</strong><strong class="second">|</strong><br>
        <strong class="first">|</strong><strong class="second">|-</strong> Certificat<br>
        <strong class="first">|</strong><strong class="second"> </strong><strong class="third">|</strong><br>
        <strong class="first">|</strong><strong class="second"> </strong><strong class="third">|-</strong> Administration Certificat<br>
        <strong class="first">|</strong><strong class="second"> </strong><strong class="third">|</strong><br>
        <strong class="first">|</strong><strong class="second"> </strong><strong class="third">|-</strong> Administration Environnement<br>
        <strong class="first">|</strong><strong class="second"> </strong><strong class="third">|</strong><br>
        <strong class="first">|</strong><strong class="second"> </strong><strong class="third">|-</strong> Administration Plateforme<br>
        <strong class="first">|</strong><strong class="second"> </strong><strong class="third">|</strong><br>
        <strong class="first">|</strong><strong class="second"> </strong><strong class="third">|-</strong> Administration Racine<br>
        <strong class="first">|</strong><strong class="second"> </strong><strong class="third">|</strong><br>
        <strong class="first">|</strong><strong class="second"> </strong><strong class="third">|-</strong> Administration Serveur<br>
        <strong class="first">|</strong><br>
        <strong class="first">|-</strong> Information Certificat<br>
        <strong class="first">|</strong><br>
        <strong class="first">|-</strong> Demande / Renouvellement Certificat existant<br>
        <strong class="first">|</strong><br>
        <strong class="first">|-</strong> Demande Nouveau Certificat<br>
        <strong class="first">|</strong><br>
        <strong class="first">|-</strong> Déconnexion Site<br>
      </p>

      <h2>Mention légale</h2>

      <p>
        (A faire lors de la finalisation de l'application)
      </p>

    </div>

  </section>

</div>
