

<section id="entete">

  <div title="{{ editedCertificate.environment.nameEnvironment }} {{ editedCertificate.application.nameApplication }}">
    <div id="name">
      <p>
        <img src="assets/icons/certificate.svg">&nbsp;
        Certificat <strong>{{ editedCertificate.environment.nameEnvironment }}</strong>
        de l'application <strong>{{ editedCertificate.application.nameApplication }}</strong>
      </p>
    </div>
  </div>

  <div>
    <div id="deconnexion" title="Déconnexion de l'application">
      <a role="button" (click)="deconnect()">Déconnexion</a>
    </div>
  </div>

</section>

<section id="search">

  <h2 id="espace">Liste des Certificats</h2>

  <p-table [value]="certificates">
    <ng-template pTemplate="header">
      <tr>
        <th>Vin</th>
        <th>Year</th>
        <th>Brand</th>
        <th>Color</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-certificate>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </ng-template>
  </p-table>

<!--  <p-table [columns]="cols" [value]="certificates">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-certificate let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{certificate[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>-->

 <!--   <div id="table">
      <div id="autour">
        <p-table #dt [columns]="cols" [value]="certificates" [paginator]="true" [rows]="10" dataKey="nameCertificate" [reorderableColumns]="true"
                 selectionMode="single" [(selection)]="selectedCertificate" stateStorage="session" stateKey="statedemo-session">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th id="th0" *ngFor="let col of cols" [pSortableColumn]="col.field" class="{{col.field}}"
                  colspan="col.colspan" [ngStyle]="{'width': col.width}" pReorderableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-certificate let-columns="columns">
            <tr [pSelectableRow]="certificate">
              <td *ngFor="let col of cols" class="{{col.field}}">{{ certificate[col.field] }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>-->
</section>










<section id="certif">

  <div id="titre">
    <h1>Certificat</h1>
  </div>

  <div id="cadre1">
    <div>
      <table id="table1">
        <thead>
        <tr>
          <th id="th1">Nom<br>
            <small>(CCX-YYYMMDD-environnement)</small>
          </th>
          <th class="th2">Type</th>
          <th class="th2">Plateforme</th>
          <th id="th2">Serveur(s)</th>
          <th id="th3"><img src="assets/icons/download.svg"></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>{{ editedCertificate.nameCertificate }}</td>
          <td>{{ editedCertificate.root.nameRoot }}</td>
          <td>{{ editedCertificate.plateform.namePlateform }}</td>
          <td>{{ editedCertificate.server[0].nameServer }}</td>
          <td>
            <a>
              <img src="assets/icons/certificate.svg">
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="cadre2">
      <table id="table2">
        <thead>
        <tr>
          <th id="th4">Adresse Principale</th>
          <th id="th5">Adresse(s) Alternative(s)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>
            <!--<a role="link" href="https://{{ editedCertificate.linkAddressPrincipal }}" target="_blank">-->
              {{ editedCertificate.nameCertificate }}
            <!--</a>-->
          </td>
          <td>
     <!--       <a role="link" href="https://{{editedCertificate.addressAlternative[0].linkAddressAlternative}}" target="_blank">
              {{ editedCertificate.addressAlternative[0].linkAddressAlternative }}-->
    <!--        <a *ngFor="let addr of editedAddressAlternative" role="link" href="https://{{ addr.linkAddressAlternative }}" target="_blank">
             <span *ngIf="editedCertificate.idCertificate === addr.certificate.idCertificate">
                {{ addr.linkAddressAlternative }}<br>
              </span>
            </a>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="cadre3">
      <table id="table3">
        <thead>
        <tr>
          <th class="th6">Mot de Passe</th>
          <th class="th6">Date Emission</th>
          <th id="th7">Fin Validité</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>
            <p-dialog [(visible)]="display" [contentStyle]="{'background-color': '#D9EAF4'}">
              <p-header>Mot de Passe du certificat {{ editedCertificate.nameCertificate }} :</p-header>
              {{ editedCertificate.passwordCertificate }}
            </p-dialog>
            <a role="button" (click)="showDialog()">Afficher</a>
          </td>
          <td>{{ editedCertificate.dateIssue | date: 'dd/MM/yyyy' }}</td>
          <td>{{ editedCertificate.dateEndValidity | date: 'dd/MM/yyyy' }}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>


