<head>
  <title>Authenrification - GestiCert</title>
</head>


<section id="authentification">
  <div>
    <h1>Authentification requise</h1>
    <h2>* Champs obligatoire</h2>
  </div>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Identifiant RH" [(ngModel)]="userIdRH" name="userIdRH" required>
      <mat-hint>Une lettre suivie de l'identifiant RH</mat-hint>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Mot de Passe" [type]="hide ? 'password' : 'text'"
             [(ngModel)]="userPassword" type="password" name="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="userPassword"
              [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint>Votre mot de passe RIAM</mat-hint>
    </mat-form-field>
  </div>
  <div id="connexion">
    <a role="button" value="connexion" (click)="connexion()">connexion</a>
  </div>
</section>

