#entete
{
  display: flex;
  justify-content: space-between;
}

#name
{
  margin-left: 10px;
}

img
{
  padding-right: 5px;
  width: 20px;
}

#deconnexion
{
  margin: 10px 20px 5px 0;
}

.table1
{
  //  margin-left: 17.5%;
}

.table2
{
  //  margin-left: 24%;
}

#table3
{
  //  margin-left: 3.5%;
}

.th1 {
  font-size: 12px;
}

.td1
{
  text-align: right;
  font-size: 12px;
}

.td2
{
  text-align: left;
  font-size: 14px;
}

td {
  text-align: left;
}

button
{
  margin-left: 15px;
}

#bouton
{
  margin: 20px;
}

#deconnexion
{
  margin-bottom: 5px;
}

a
{
  padding: 2px 5px;
  color: black;
  font-size: 12px;
}

a[role="button"] {
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

a[role="button"]:hover {
  color: #FFCB05;
  background-color: #003DA5;
  text-decoration: none;
}

a button {
  background-color: #9CC6DA;
  border: 1px solid #003DA5;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 1%;
  text-align: right;
  padding: 2px 5px;
  color: black;
  outline: none;
}

a button:hover {
  color: #FFCB05;
  background-color: #003DA5;
  text-decoration: none;
}

.modification a[role="button"]
{
  background-color: #9CC6DA;
  border: 1px solid #003DA5;
  margin: 2px;
}

.modification a[role="button"]:hover
{
  background-color: #003DA5;
  margin: 2px;
}

.modification
{
  text-align: right;
  margin: 15px 1% 1% 0;
}

.attente {
  margin-left: 15px;
}

#referent {
  text-align: center;
}

.buton1 button, .buton2 button, .attente {
  font-size: 10px;
}

.buton1 button {
  padding: 2px 6px;
}

.buton2 button {
  padding: 2px 5px;
}

#formulaire
{
  border: 2px solid #134092;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  background-color: #D9EAF4;
  margin: 10px auto 100px auto;
  padding: 1%;
}

table {
  margin: 0 auto;
}

form
{
  margin-right: 5%;
}

input, select
{
  font-family: Montserrat, sans-serif;
}

input {
  width: 40%;
}

select {
  width: 40%;
  min-width: 250px;
  margin-bottom: 2%;
}

#emailRef, .input1 {
  min-width: 250px;
}

.form1, #form2, #form3
{
  text-align: center;
  margin-bottom: 15px;
}

#form2 input, #form3 input
{
  width: 130px;
}

#desiredDate
{
  width: 40%;
}

h1
{
  text-align: center;
  font-size: 20px;
}

h2 {
  font-size: 16px;
  text-align: center;
}

h3 {
  font-size: 14px;
  text-align: center;
}

h3 span
{
  font-size: 10px;
  margin-left: 10px;
  color: brown;
}

p
{
  font-size: 14px;
}

label {
  font-size: 12px;
}

#plus
{
  width: 10px;
}

h4
{
  font-size: 12px;
  font-style: normal;
}

#p1
{
  margin-left: 21.5%;
}

a #butServ {
  text-align: left;
}

textarea
{
  width: 60%;
  min-width: 250px;
}

/* PRIME NG */
:host /deep/ .ui-button {
  color: black !important;
  font-size: 12px !important;
  width: 20px !important;
  height: 20px !important;
  background-color: #9CC6DA !important;
  border: 1px solid #003DA5 !important;
}

:host /deep/ .ui-button:hover {
  background-color: #003DA5 !important;
  color: #FFCB05 !important;
}

:host /deep/ .ui-picklist .ui-picklist-list li {
  padding: 2px 10px !important;
}

:host /deep/ .ui-picklist .ui-picklist-list li {
  padding: 0 5px !important;
  margin: 0 !important;
}

:host /deep/ .ui-widget {
  font-family: Montserrat, sans-serif !important;
}

:host /deep/  .ui-picklist .ui-picklist-caption {
  padding: 0 !important;
  font-size: 10px !important;
}

:host /deep/  .ui-picklist .ui-picklist-buttons {
  padding: 20px 1em 0 1em !important;
  vertical-align: top !important;
  height: 0 !important;
}

:host /deep/  .ui-picklist .ui-picklist-droppoint {
  height: 2px !important;
}

/* ADAPTATION */
#appli {
  display: none;
}

#cols2 {
  display: none;
}

#asterix {
  display: none;
}

@media (max-width: 900px) {
  #formulaire
  {
    width: 98%;
  }
}

@media (max-width: 670px) {
  #appli {
    display: flex;
  }

  #appli a {
    margin-top: 4%;
    margin-left: 50%;
  }
}

@media (max-width: 560px) {
  #cols1 {
    display: none;
  }

  #cols2 {
    display: flex;
  }
}

@media (max-width: 360px) {
  #asterix {
    display: flex;
  }
}
