<div title="Page d'accueil de {{ editedUser.nameUser }} {{ editedUser.firstNameUser }}">

  <section id="entete">

    <div title="{{ editedUser.nameUser }} {{ editedUser.firstNameUser }}">
      <div id="name">
        <p>
          <img src="assets/icons/person.png" alt="Logo personne">
          <strong>{{ editedUser.nameUser | uppercase}}</strong><strong>{{ editedUser.firstNameUser }}</strong>
        </p>
      </div>

      <div id="profile">
        <a role="button" (click)="onScroll()" routerLink="/accueil/{{ editedUser.idRHUser }}/profil" title="Accès à mon profil">
          Mon Profil
        </a>
      </div>
      <div id="management">
        <a *ngIf="editedUser.profile.idProfile === 3" role="button" (click)="onScroll()" routerLink="/gestion/app"
           title="Accès à l'administration de l'application">
          Administration
        </a>
      </div>
    </div>

    <div id="deconnexion" title="Déconnexion de l'application">
      <a role="button" (click)="onDeconnect()">Déconnexion</a>
    </div>

  </section>

  <section class="cadre1" id="resp1">

    <div title="Formulaire de recherche de certificat">

      <h1>Recherche</h1>

      <div class="cadre2">
        <form #logForm="ngForm" [formGroup]="loginForm" novalidate (ngSubmit)="onReset(logForm)">
          <div class="filtre1" title="Recherche par le code CCX">
            <label for="ccx"><strong>Code CCX : </strong></label>
            <span *ngFor="let col of cols1" [ngSwitch]="col.field">
              <input *ngSwitchCase="'applicationCCX'" formControlName="applicationCCX" pInputText type="search"
                     (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="CCX"
                     id="ccx" name="ccx" title="Champ pour rechercher par le code CCX">
              </span>
          </div>
          <div class="filtre2">
            <label for="appli"><strong>Application : </strong></label>
            <span *ngFor="let col of cols1" [ngSwitch]="col.field">
              <input *ngSwitchCase="'applicationName'" formControlName="applicationName" pInputText type="search"
                     (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="NOM"
                     id="appli" name="appli" title="Champ pour rechercher par le nom de l'application">
            </span>
          </div>
          <div class="filtre2">
            <label for="envir"><strong>Environnement : </strong></label>
            <span *ngFor="let col of cols1" [ngSwitch]="col.field">
              <input *ngSwitchCase="'environmentName'" pInputText type="search"
                     (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="NOM"
                     id="envir" name="envir" title="Champ pour rechercher par le nom de l'environnement">
            </span>
          </div>
        </form>
        <form>
          <div class="filtre3">
            <label for="annee"><strong>Année d'émission : </strong></label>
            <span *ngFor="let col of cols1" [ngSwitch]="col.field">
              <input *ngSwitchCase="'dateIssue'" pInputText type="search"
                     (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="ANNEE"
                     id="annee" name="annee" title="Champ pour rechercher par l'année d'émission">
            </span>
          </div>
          <div class="filtre4">
            <label for="date"><strong>Date d'émission : </strong></label>
            <span *ngFor="let col of cols1" [ngSwitch]="col.field">
              <input *ngSwitchCase="'dateIssue'" pInputText type="date"
                     (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)"
                     id="date" name="date" title="Champ pour rechercher par date d'émission">
            </span>
          </div>
          <!--      <div class="reset">
                  <a role="button" (click)="onReset(logForm)">Reset</a>
                </div>-->
        </form>
      </div>

      <div class="table" title="Liste de mes certificats">

        <h1>Liste des Certificats</h1>

        <div class="cadre2">
          <div class="autour">

            <p-table class="table1" #dt1 [columns]="cols1" [value]="certificates" [paginator]="true" [rows]="10"
                     dataKey="applicationCCX" [reorderableColumns]="true" selectionMode="single"
                     [(selection)]="selectedCertificate" stateStorage="session" stateKey="statedemo-session">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of cols1" [pSortableColumn]="col.field" class="{{col.field}}" colspan="col.colspan"
                      [ngStyle]="{'width': col.width}" pReorderableColumn>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th class="th2">Validité</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-certificate>
                <tr (click)="onScroll()" routerLink="/certificat/{{ certificate.idCertificate }}" [pSelectableRow]="certificate"
                    title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }}">
                  <td class="th1">
                    {{ certificate.applicationCCX }}
                  </td>
                  <td class="th1">
                    {{ certificate.applicationName }}
                  </td>
                  <td class="th1">
                    {{ certificate.environmentName }}
                  </td>
                  <td class="th1">
                    {{ certificate.rootName }}
                  </td>
                  <td class="th1">
                    {{ certificate.dateIssue | date: 'dd/MM/yyyy' }}
                  </td>
                  <td class="td2">
                    <div *ngIf="certificate.dateEndValidity === null; else elseDateEnd">
                      <img src="assets/icons/not_ok.svg" alt="Certificat non valide"
                           title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} non valide">
                      <span class="attente">(En cours)</span>
                    </div>
                    <ng-template #elseDateEnd>
                      <div *ngIf="((certificate.dateEndValidity | date: 'yyyy-MM-dd') > (alertDate | date: 'yyyy-MM-dd'))">
                        <img src="assets/icons/ok.svg" alt="Certificat valide"
                             title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} valide">
                      </div>
                      <div *ngIf="((certificate.dateEndValidity | date: 'yyyy-MM-dd') < (dateNow | date: 'yyyy-MM-dd'))">
                        <img src="assets/icons/not_ok.svg" alt="Certificat non valide"
                             title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} non valide">
                        <a *ngIf="certificate.statusDemand.idStatusDemand !== 3; else elseBlock1a" role="button"
                           class="buton1" (click)="onScroll()" routerLink="certificat/{{certificate.idCertificate}}"
                           title="Demander le certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }}">
                          Demander
                        </a>
                        <ng-template #elseBlock1a><span class="attente">(En cours)</span></ng-template>
                      </div>
                      <div *ngIf="((certificate.dateEndValidity | date: 'yyyy-MM-dd') >= (dateNow | date: 'yyyy-MM-dd')) &&
                     ((certificate.dateEndValidity | date: 'yyyy-MM-dd') <= (alertDate | date: 'yyyy-MM-dd'))">
                        <img src="assets/icons/warning.svg" alt="Certificat en fin de validité"
                             title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} en fin de validité">
                        <a *ngIf="certificate.statusDemand.idStatusDemand !== 3; else elseBlock1b" role="button"
                           class="buton2" (click)="onScroll()" routerLink="certificat/{{certificate.idCertificate}}"
                           title="Renouveler le certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} en fin de validité">
                          Renouveler
                        </a>
                        <ng-template #elseBlock1b><span *ngIf="certificate.statusDemand.idStatusDemand === 3" class="attente">(En cours)</span></ng-template>
                      </div>
                    </ng-template>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="abut">
            <a *ngIf="editedUser.profile.idProfile === 3"><button (click)="onScroll()" routerLink="/gestion/hab">Gérer habilitation application</button></a>
            <a *ngIf="editedUser.profile.idProfile === 3"><button (click)="onScroll()" routerLink="application">Demander nouveau certificat</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cadre1" id="resp2">

    <div title="Formulaire de recherche de certificat">

      <h1>Recherche</h1>

      <div class="cadre2">
        <form #logForm="ngForm" [formGroup]="loginForm" novalidate (ngSubmit)="reset(logForm)">
          <div class="filtre1" title="Recherche par le code CCX">
            <strong>Code CCX : </strong>
            <span *ngFor="let col of cols2" [ngSwitch]="col.field">
              <input *ngSwitchCase="'applicationCCX'" formControlName="applicationCCX" pInputText type="search"
                     (input)="dt2.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="CCX"
                     title="Champ pour la recherche par le code CCX">
              </span>
          </div>
          <div class="filtre2">
            <strong>Application : </strong>
            <span *ngFor="let col of cols2" [ngSwitch]="col.field">
              <input *ngSwitchCase="'applicationName'" formControlName="applicationName"
                     pInputText type="search" (input)="dt2.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="NOM">
            </span>
          </div>
          <div class="filtre2">
            <strong>Environnement : </strong>
            <span *ngFor="let col of cols2" [ngSwitch]="col.field">
              <input *ngSwitchCase="'environmentName'" pInputText type="search"
                     (input)="dt2.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="NOM">
            </span>
          </div>
        </form>
      </div>

      <div class="table" title="Liste de mes certificats">

        <h1>Liste des Certificats</h1>

        <div class="cadre2">
          <div class="autour">

            <p-table class="table1" #dt2 [columns]="cols2" [value]="certificates" [paginator]="true" [rows]="10"
                     dataKey="applicationCCX" [reorderableColumns]="true" selectionMode="single"
                     [(selection)]="selectedCertificate" stateStorage="session" stateKey="statedemo-session">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of cols2" [pSortableColumn]="col.field" class="{{col.field}}"
                      colspan="col.colspan" [ngStyle]="{'width': col.width}" pReorderableColumn>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th class="th2">Validité</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-certificate>
                <tr (click)="onScroll()" routerLink="/certificat/{{ certificate.idCertificate }}" [pSelectableRow]="certificate"
                    title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }}">
                  <td class="th1">
                    {{ certificate.applicationCCX }}
                  </td>
                  <td class="th1">
                    {{ certificate.applicationName }}
                  </td>
                  <td class="th1">
                    {{ certificate.environmentName }}
                  </td>
                  <td class="th1">
                    {{ certificate.rootName }}
                  </td>
                  <td class="td2">
                    <div *ngIf="((certificate.dateEndValidity | date: 'yyyy-MM-dd') > (alertDate | date: 'yyyy-MM-dd'))">
                      <img src="assets/icons/ok.svg" alt="Certificat valide"
                           title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} valide">
                    </div>
                    <div *ngIf="((certificate.dateEndValidity | date: 'yyyy-MM-dd') < (dateNow | date: 'yyyy-MM-dd'))">
                      <img src="assets/icons/not_ok.svg" alt="Certificat non valide"
                           title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} non valide">
                      <a *ngIf="certificate.statusDemand.idStatusDemand !== 3; else elseBlock2a" role="button" class="buton1" routerLink="certificat/{{certificate.idCertificate}}"
                         title="Demander le certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }}">
                        Demander
                      </a>
                      <ng-template #elseBlock2a><span class="attente">(En cours)</span></ng-template>
                    </div>
                    <div *ngIf="((certificate.dateEndValidity | date: 'yyyy-MM-dd') >= (dateNow | date: 'yyyy-MM-dd')) &&
                     ((certificate.dateEndValidity | date: 'yyyy-MM-dd') <= (alertDate | date: 'yyyy-MM-dd'))">
                      <img src="assets/icons/warning.svg" alt="Certificat en fin de validité"
                           title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} en fin de validité">
                      <a *ngIf="certificate.statusDemand.idStatusDemand !== 3; else elseBlock2b" role="button" class="buton2" routerLink="certificat/{{certificate.idCertificate}}"
                         title="Renouveler le certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} en fin de validité">
                        Renouveler
                      </a>
                      <ng-template #elseBlock2b><span class="attente">(En cours)</span></ng-template>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="abut">
            <a *ngIf="editedUser.profile.idProfile === 3"><button (click)="onScroll()" routerLink="/gestion/hab">Gérer habilitation application</button></a>
            <a *ngIf="editedUser.profile.idProfile === 3"><button (click)="onScroll()" routerLink="application">Demander nouveau certificat</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cadre1" id="resp3">

    <div title="Formulaire de recherche de certificat">

      <h1>Recherche</h1>

      <div class="cadre2">
        <form #logForm="ngForm" [formGroup]="loginForm" novalidate (ngSubmit)="reset(logForm)">
          <div class="filtre1" title="Recherche par le code CCX">
            <strong>Code CCX : </strong>
            <span *ngFor="let col of cols3" [ngSwitch]="col.field">
              <input *ngSwitchCase="'applicationCCX'" formControlName="applicationCCX" pInputText type="search"
                     (input)="dt3.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="CCX"
                     title="Champ pour la recherche par le code CCX">
              </span>
          </div>
          <div class="filtre2">
            <strong>Application : </strong>
            <span *ngFor="let col of cols3" [ngSwitch]="col.field">
              <input *ngSwitchCase="'applicationName'" formControlName="applicationName" pInputText type="search"
                     (input)="dt3.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="NOM">
            </span>
          </div>
          <div class="filtre2">
            <strong>Environnement : </strong>
            <span *ngFor="let col of cols3" [ngSwitch]="col.field">
              <input *ngSwitchCase="'environmentName'" pInputText type="search"
                     (input)="dt3.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="NOM">
            </span>
          </div>
        </form>
      </div>

      <div class="table" title="Liste de mes certificats">

        <h1>Liste des Certificats</h1>

        <div class="cadre2">
          <div class="autour">

            <p-table class="table1" #dt3 [columns]="cols3" [value]="certificates" [paginator]="true" [rows]="10"
                     dataKey="applicationCCX" [reorderableColumns]="true" selectionMode="single"
                     [(selection)]="selectedCertificate" stateStorage="session" stateKey="statedemo-session">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of cols3" [pSortableColumn]="col.field" class="{{col.field}}" colspan="col.colspan"
                      [ngStyle]="{'width': col.width}" pReorderableColumn>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th class="th2">Validité</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-certificate>
                <tr (click)="onScroll()" routerLink="/certificat/{{ certificate.idCertificate }}" [pSelectableRow]="certificate"
                    title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }}">
                  <td class="th1">
                    {{ certificate.applicationCCX }}
                  </td>
                  <td class="th1">
                    {{ certificate.applicationName }}
                  </td>
                  <td class="th1">
                    {{ certificate.environmentName }}
                  </td>
                  <td class="td2">
                    <div *ngIf="((certificate.dateEndValidity | date: 'yyyy-MM-dd') > (alertDate | date: 'yyyy-MM-dd'))">
                      <img src="assets/icons/ok.svg" alt="Certificat valide"
                           title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} valide">
                    </div>
                    <div *ngIf="((certificate.dateEndValidity | date: 'yyyy-MM-dd') < (dateNow | date: 'yyyy-MM-dd'))">
                      <img src="assets/icons/not_ok.svg" alt="Certificat non valide"
                           title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} non valide">
                      <a *ngIf="certificate.statusDemand.idStatusDemand !== 3; else elseBlock3a" role="button" class="buton1" routerLink="certificat/{{certificate.idCertificate}}"
                         title="Demander le certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }}">
                        Demander
                      </a>
                      <ng-template #elseBlock3a><span class="attente">(En cours)</span></ng-template>
                    </div>
                    <div *ngIf="((certificate.dateEndValidity | date: 'yyyy-MM-dd') >= (dateNow | date: 'yyyy-MM-dd')) &&
                     ((certificate.dateEndValidity | date: 'yyyy-MM-dd') <= (alertDate | date: 'yyyy-MM-dd'))">
                      <img src="assets/icons/warning.svg" alt="Certificat en fin de validité"
                           title="Certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} en fin de validité">
                      <a *ngIf="certificate.statusDemand.idStatusDemand !== 3; else elseBlock3b" role="button" class="buton2" routerLink="certificat/{{certificate.idCertificate}}"
                         title="Renouveler le certificat {{ certificate.environmentName }} de l'application {{ certificate.applicationName }} en fin de validité">
                        Renouveler
                      </a>
                      <ng-template #elseBlock3b><span class="attente">(En cours)</span></ng-template>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div id="butresp1" class="abut">
            <a *ngIf="editedUser.profile.idProfile === 3"><button (click)="onScroll()" routerLink="/gestion/hab">Gérer habilitation application</button></a>
            <a *ngIf="editedUser.profile.idProfile === 3"><button (click)="onScroll()" routerLink="application">Demander nouveau certificat</button></a>
          </div>
          <div id="butresp2" class="abut">
            <a *ngIf="editedUser.profile.idProfile === 3"><button (click)="onScroll()" routerLink="/gestion/hab">Habiliter application</button></a>
            <a *ngIf="editedUser.profile.idProfile === 3"><button (click)="onScroll()" routerLink="application">Nouveau certificat</button></a>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>
