<footer>
  <div id="container">
    <div id="footerleft">
      <p><a (click)="onScroll()" routerLink="contact" title="Contact de l'application">Contact</a>
        <a (click)="onScroll()" routerLink="site" title="A propos de l'application">A propos du site</a>
        <a (click)="onScroll()" routerLink="accessibilite" title="Accessibilité de l'application">Accessibilité</a></p>
    </div>
    <div id="footerright">
      <p id="gestion1" title="Version de l'application">Gestion des Certificats 1.0</p>
      <p id="gestion2" title="Version de l'application">GestiCert 1.0</p>
    </div>
  </div>
</footer>
