footer {
  border-top: 2px solid #003DA5;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9CC6DA;
  border: 1px solid #706F6F;
  border-top: none;
  margin: 0 5% 0 5%;
  padding: 1px 20px;
}

a {
  color: black;
  margin: 15px;
  text-decoration: none;
}

a:hover {
  color: #003DA5;
  text-decoration: underline;
}

p{
  font-size: 12px;
}

#gestion2 {
  display: none;
}

@media (max-width: 600px) {
  a {
    margin: 5px;
  }

  #gestion1 {
    display: none;
  }

  #gestion2 {
    display: flex;
  }
}

@media (max-width: 450px) {
  #gestion2 {
    display: none;
  }
}

@media (max-width: 350px) {
  a {
    display: block;
  }

}


