#entete
{
  display: flex;
  justify-content: space-between;
}

#name
{
  margin-left: 10px;
}

img
{
  padding-right: 5px;
  width: 20px;
}

#deconnexion, #retour
{
  margin-right: 20px;
}

#deconnexion
{
  margin-top: 10px;
  margin-bottom: 5px;
}

a
{
  padding: 2px 5px;
}

a[role="button"] {
  color: black;
  text-decoration: none;
}

a[role="button"]:hover {
  color: #FFCB05;
  background-color: #3071a9;
  border-radius: 4px;
  text-decoration: none;
}


#user
{
  margin-left: 10px;
}

#bouton
{
  margin: 20px;
}

#deconnexion
{
  margin-bottom: 5px;
}

button
{
  margin-left: 5px;
}

table
{
  margin-left: 9%;
}

.td1
{
  text-align: right;
}

.td2
{
  text-align: left;
}

a
{
  padding: 2px 5px;
  color: black;
  font-size: 12px;
}

a[role="button"] {
  text-decoration: none;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 10px;
}
/*
a[role="button"]:hover, [role="button"].bouton:focus {
  color: #fff;
  background-color: #3071a9;
  text-decoration: none;
}

a[role="button"]:active {
  color: #fff;
  background-color: #3071a9;
}*/

a[role="button"]:hover {
  color: #FFCB05;
  background-color: #003DA5;
  text-decoration: none;
}

#modification
{
  text-align: right;
}

#modification a[role="button"]
{
  background-color: #9CC6DA;
  border: 1px solid #003DA5;
  margin: 2px;
}

#modification a[role="button"]:hover
{
  background-color: #003DA5;
  border: 1px solid #FFCB05;
  margin: 2px;
}

#formulaire
{
  border: 2px solid #134092;
  border-radius: 10px;
  width: 50%;
  background-color: #D9EAF4;
  margin: 10px auto 100px auto;
  padding: 20px;
}

#label1
{
  margin-left: 15%;
}

#label2
{
  margin-left: 19%;
}

input
{
  width: 66%;
  font-family: Montserrat, sans-serif;
}

h1, h2
{
  text-align: center;
}

h1
{
  font-size: 20px;
}

h2
{
  font-size: 10px;
  color: brown;
}

#plus
{
  width: 10px;
}

td strong, label strong
{
  font-size: 12px;
}


