/* EN TETE */
#entete
{
  display: flex;
  justify-content: space-between;
}

#name
{
  margin-left: 10px;
}

img
{
  padding-right: 5px;
  width: 20px;
}

p strong {
  margin-left: 10px;
}

/* BOUTONS */
#deconnexion {
  margin: 10px 20px 0 0;
}

a {
  padding: 2px 5px;
  color: black;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 0px;
}

a[role="button"] {
  margin-left: 15px;
  text-decoration: none;
}

a[role="button"]:hover {
  color: #FFCB05;
  background-color: #003DA5;
  text-decoration: none;
}

#action {
  text-align: right;
  margin-top: 15px;
}

#action a {
  padding: 2px 5px;
  color: black;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 15px;
}

#action a[role="button"]
{
  background-color: #9CC6DA;
  border: 1px solid #003DA5;
}

#action a[role="button"]:hover
{
  color: #FFCB05;
  background-color: #003DA5;
}

/* CADRES */
#cadre1 {
  border: 2px solid #003DA5;
  border-radius: 5px;
  margin: 20px auto 80px auto;
  padding: 0 0 3% 0;
  background-color: #D9EAF4;
  width: 80%;
}

#cadre2 {
  border: 1px solid #003DA5;
  border-radius: 5px;
  margin: auto;
  padding: 4%;
  width: 60%;
  min-width: 450px;
}

/* TITRE */
h1
{
  text-align: center;
  font-size: 15px;
}

/* FORMULAIRE */
table {
  width: 90%;
  margin: auto;
}

.td1
{
  text-align: right;
  width: 100px;
}

.td2, #td3
{
  text-align: left;
}

.td1 strong
{
  font-size: 12px;
}

#td3 strong
{
  font-size: 10px;
  color: brown;
}

input {
  width: 100%;
//  min-width: 80px;
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
}

/* ADAPTABILITE */
@media (max-width: 800px) {
  #cadre1 {
    width: 90%;
  }

  #cadre2 {
    padding: 2%;
  }
}

@media (max-width: 600px) {
  #cadre1 {
    width: 98%;
  }

  #cadre2 {
    width: 98%;
    min-width: 300px;
    padding: 2% 1%;
  }

  table {
    width: 100%;
  }

}


