<div title="Administration des habilitations des utilisateurs et des applications">

  <h1>Administration des Habilitations</h1>

  <div class="cadre1">

    <div class="cadre3">

      <section title="Formulaire pour l'habilitation d'une application à des utilisateurs">

        <h2>Recherche d'une application</h2>

        <div class="cadre2">

          <div>

          </div>

          <div class="form-control">
            <form>
              <label for="application"><strong>Application : </strong></label>
              <select
                name="application"
                id="application"
                class="form-control"
                [(ngModel)]="editedApplication.idApplication" title="Champ pour le nom de l'application">
                <option *ngFor="let application of applicationsList | async"
                        [value]="application.idApplication">{{ application.nameApplication }}</option>
              </select>
              <a><button *ngIf="editedApplication.idApplication !== idApplication" (click)="onHability()">Valider</button></a>
              <a><button *ngIf="editedApplication.idApplication === idApplication" routerLink="/gestion/hab/app">Annuler</button></a>
              <a><button *ngIf="editedApplication.idApplication !== idApplication" routerLink="/gestion/app">Ajouter nouvelle application</button></a>
            </form>
          </div>

        </div>

      </section>

      <section *ngIf="editedApplication.idApplication === idApplication" title="Administration des habilitations de l'application : {{editedApplication.nameApplication}} ">

        <h2>Application : {{editedApplication.nameApplication}}</h2>

        <div class="cadre2">

          <p-pickList [source]="listUsers" [target]="editedApplication.users" sourceHeader="Utilisateur(s) :"
                        targetHeader="Habilité(s) :" [responsive]="true" dragdrop="true" [(ngModel)]="editedApplication.users"
                        [sourceStyle]="{'height':'100px'}" [targetStyle]="{'height':'100px'}">
              <ng-template let-user pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div class="liste" style="font-size:14px;float:left;">
                    <strong>{{user.idRHUser}}</strong><br>{{user.nameUser}}<br>{{user.firstNameUser}}
                  </div>
                </div>
              </ng-template>
            </p-pickList>

          <div>
            <a><button routerLink="/gestion/uti">Ajouter nouvel utilisateur</button></a>
            <a><button (click)="onSave()">Habiliter</button></a>
          </div>

        </div>

      </section>

    </div>

  </div>

</div>



<!--
<div id="liste" title="Liste des utilisateurs">

  <h2>Recherche</h2>

  <div class="cadre2">
    <div id="filtres" *ngFor="let col of cols" [ngSwitch]="col.field">
      <div class="filtre1">
        <input *ngSwitchCase="'idRHUser'" pInputText type="search" placeholder="PAR L'IDENTIFIANT RH DE L'UTILISATEUR"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      </div>
      <div class="filtre1">
        <input *ngSwitchCase="'nameUser'" pInputText type="search" placeholder="PAR LE NOM DE L'UTILISATEUR"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      </div>
      <div class="filtre1">
        <input *ngSwitchCase="'firstNameUser'" pInputText type="search" placeholder="PAR LE PRENOM DE L'UTILISATEUR"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      </div>
    </div>
  </div>

  <h2 id="espace">Liste des Utilisateurs</h2>

  <div id="table">
    <div id="autour">
      <p-table #dt [columns]="cols" [value]="users" [paginator]="true" [rows]="4" dataKey="idRHUser"
               [reorderableColumns]="true" selectionMode="single" [(selection)]="selectedUser"
               stateStorage="session" stateKey="statedemo-session">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th id="th1" *ngFor="let col of cols" [pSortableColumn]="col.field" colspan="col.colspan"
                [ngStyle]="{'width': col.width}" pReorderableColumn>
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-columns="columns">
          <tr routerLink="/gestion/uti/{{ user.idUser }}" [pSelectableRow]="user">
            <td *ngFor="let col of cols">{{ user[col.field] }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>-->
