th
{
  font-size: 10px;
  height: 40px;
}

td
{
  font-size: 12px;
  height: 40px;
}



td a[role="button"], .choix[role="button"]
{
  background-color: #9CC6DA;
  border: 1px solid #003DA5;
  margin: 2px;
}

td a[role="button"]:hover, #choix[role="button"]:hover
{
  background-color: #003DA5;
  border: 1px solid #FFCB05;
  margin: 2px;
}

h1
{
  text-align: center;
  font-size: 20px;
}

h2
{
  text-align: left;
  font-size: 15px;
}

#espace
{
  margin-top: 8%;
}

h3
{
  font-size: 10px;
  color: brown;
  text-align: center;
  padding-bottom: 10px;
}

.cadre
{
  border: 2px solid #003DA5;
  border-radius: 5px;
  margin: 0 10% 10% 10%;
  padding-left: 1%;
  background-color: #D9EAF4;
  display: inline-flex;
  width: 80%;
}

#table
{
  border-collapse: collapse;
  border: 1px solid #003DA5;
  border-radius: 5px;
  width: 100%;
  text-align: left;
}

#autour
{
  margin: 2%;
}

.cadre2
{
  border: 1px solid #003DA5;
  border-radius: 5px;
  margin-bottom: 5%;
}

#liste .cadre2
{
  width: 100%;
}

.filtre1, #filtre2
{
  margin: 2%;
}

.filtre1 input, #filtre2 input
{
  width: 100%;
}

#modification
{
  text-align: right;
  margin: 0 2.5% 2.5% 0;
}

/* FORMULAIRE */
form
{
  text-align: right;
  margin: 2.5% 5% 0 2.5%;
}

label
{
  font-size: 10px;
}

input, select
{
  width: 65%;
  font-family: Montserrat, sans-serif;
}

/* MODIFICATION PICKLIST PRIMENG */
:host /deep/ .ui-button {
  color: black !important;
  font-size: 12px !important;
  width: 20px !important;
  height: 20px !important;
  background-color: #9CC6DA !important;
  border: 1px solid #003DA5 !important;
}

:host /deep/ .ui-button:hover {
  background-color: #003DA5 !important;
  color: #FFCB05 !important;
}

#liste
{
  width: 120%;
  padding: 0 20px 0 5px;
}

.formulaire
{
  width: 100%;
  padding: 0 10px;
}

#champ {
  margin: 2% 0 2% 0;
}

a
{
  color: black;
  font-size: 12px;
  padding: 2px 5px;
}

#butServ {
  margin-left: 10%;
}

a button, a[role="button"] {
  text-decoration: none;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 10px;
}

a button:hover, a[role="button"]:hover {
  color: #FFCB05;
  background-color: #003DA5;
  text-decoration: none;
}

.label1
{
  text-align: left;
}

span strong
{
  margin-left: 2%;
  margin-top: 0;
}

.input1
{
  width: 98%;
}

strong
{
  font-size: 10px;
}

:host /deep/ .ui-button {
  color: black !important;
  font-size: 12px !important;
  width: 20px !important;
  height: 20px !important;
  background-color: #9CC6DA !important;
  border: 1px solid #003DA5 !important;
}

:host /deep/ .ui-button:hover {
  background-color: #003DA5 !important;
  color: #FFCB05 !important;
}

:host /deep/ .ui-picklist .ui-picklist-list li {
  padding: 2px 10px !important;
}

:host /deep/ .ui-picklist .ui-picklist-list li {
  padding: 0 5px !important;
  margin: 0 !important;
}

:host /deep/ .ui-widget {
  font-family: Montserrat, sans-serif !important;
}

:host /deep/  .ui-picklist .ui-picklist-caption {
  padding: 0 !important;
  font-size: 10px !important;
}

:host /deep/  .ui-picklist .ui-picklist-buttons {
  padding: 20px 1em 0 1em !important;
  vertical-align: top !important;
  height: 0 !important;
}

:host /deep/  .ui-picklist .ui-picklist-droppoint {
  height: 2px !important;
}
