

<div class="titre" title="Administration des certificats">
  <h1>Administration des Certificats</h1>
</div>

<div class="cadre">

  <div id="formulaire">
    <h2 *ngIf="editedCertificate.idCertificate; else elseBlock1"
        title="Formulaire pour modifier le certificat {{ editedCertificate.idCertificate }}">
      Certificat : {{ editedCertificate.nameCertificate }}
    </h2>
    <ng-template #elseBlock1 title="Formulaire pour ajouter un certificat">
      <h2>Ajout d'un certificat<br></h2>
    </ng-template>
    <div class="cadre2">
      <h3>* Champs obligatoires</h3>
      <form>
        <div>
          <div class="form-control">
            <label for="name">Nom Certificat * : </label>
            <span *ngFor="let col of cols" [ngSwitch]="col.field">
              <input *ngSwitchCase="'nameCertificate'" placeholder="Entrez le nom"
                     pInputText (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                     type="search" id="name" [(ngModel)]="editedCertificate.nameCertificate" name="name"
                     title="Champ pour le nom du certificat" required>
            </span>
          </div>
          <br>
          <div class="form-control">
            <label for="password">Mot de passe * : </label>
            <input type="password" id="password" [(ngModel)]="editedCertificate.passwordCertificate" name="password"
                   placeholder="Entrez le mot de passe"
                   required title="Champ pour le mot de passe du certificat">
          </div>
          <br>
          <div class="form-control">
            <label for="dateIssue">Date Emission * : </label>
            <input type="date" id="dateIssue" [(ngModel)]="editedCertificate.dateIssue" name="dateIssue"
                   placeholder="Entrez la date d'émission"
                   required title="Champ pour la date d'émission du certificat">
          </div>
          <br>
          <div class="form-control">
            <label for="validity">Fin de Validité * : </label>
            <input type="date" id="validity" [(ngModel)]="editedCertificate.dateEndValidity" name="validity"
                   placeholder="Entrez la date de fin de validité"
                   required title="Champ pour la date de fin de validité du certificat">
          </div>
          <br>
          <div class="form-control">
            <label for="application">Application * : </label>
            <select
              name="application"
              id="application"
              class="form-control"
              [(ngModel)]="editedCertificate.application.idApplication" title="Champ pour le nom de l'application">
              <option *ngFor="let application of applicationsList | async"
                      [value]="application.idApplication">{{ application.nameApplication }}</option>
            </select>
          </div>
          <br>
          <div class="form-control">
            <label for="environment">Environnement * : </label>
            <select
              name="environment"
              id="environment"
              class="form-control"
              [(ngModel)]="editedCertificate.environment.idEnvironment" title="Champ pour le nom de l'environnement">
              <option *ngFor="let environment of environmentsList | async"
                      [value]="environment.idEnvironment">{{ environment.nameEnvironment }}</option>
            </select>
          </div>
          <br>
          <div class="form-control">
            <label for="plateform">Plateforme * : </label>
            <select
              name="plateform"
              id="plateform"
              class="form-control"
              [(ngModel)]="editedCertificate.plateform.idPlateform" title="Champ pour le nom de la plateforme">
              <option *ngFor="let plateform of plateformsList | async"
                      [value]="plateform.idPlateform">{{ plateform.namePlateform }}</option>
            </select>
          </div>
          <br>
          <div class="form-control">
            <label for="root">Racine * : </label>
            <select
              name="root"
              id="root"
              class="form-control"
              [(ngModel)]="editedCertificate.root.idRoot" title="Champ pour le nom de la racine">
              <option *ngFor="let root of rootsList | async"
                      [value]="root.idRoot">{{ root.nameRoot }}</option>
            </select>
          </div>
          <br>
          <div class="form-control">
            <label for="server">Serveur(s) * : </label>
            <select
              name="server"
              id="server"
              class="form-control"
              [(ngModel)]="editedCertificate.server" title="Champ pour le nom du ou des serveur(s)">
              <option *ngFor="let server of serversList | async"
                      [value]="server.idServer">{{ server.nameServer }}</option>
            </select>
          </div>
          <br>
          <div class="form-control">
            <label class="label1" for="linkInst"><p>Lien Téléchargement * :</p></label>
            <input class="input1" type="search" id="linkInst" [(ngModel)]="editedCertificate.linkInstallation" name="linkInst"
                   placeholder="Entrez le lien de téléchargement"
                   required title="Champ pour le lien du fichier de téléchargement du certificat">
          </div>
          <br>
          <div class="form-control">
            <label class="label1" for="linkPrin"><p>Adresse Principale * :</p></label>
            <input class="input1" type="search" id="linkPrin" [(ngModel)]="editedCertificate.linkAddressPrincipal" name="linkPrin"
                   placeholder="Entrez le lien de l'adresse principale"
                   required title="Champ pour le lien de l'adresse principale du certificat">
          </div>
    <!--      <br>
          <div *ngFor="let addrAlt of listAddressesAlternatives">
            <div *ngIf="editedCertificate.idCertificate === addrAlt.certificate.idCertificate">
              {{ addrAlt.linkAddressAlternative }}
            </div>
          </div>-->
          <br>
          <div class="form-control">
            <label class="label1" for="linkAlt"><p>Adresse(s) Alternative(s) :</p></label>
            <input class="input1" type="search" id="linkAlt" [(ngModel)]="editedCertificate.addressAlternative" name="linkAlt"
                   placeholder="Entrez lien(s) adresse(s) alternative(s)"
                   required title="Champ pour le ou les liens des adresses alternantives">
          </div>
          <br>
        </div>
      </form>
      <br>
      <div id="modification">
        <a *ngIf="editedCertificate.idCertificate" class="choix" role="button" routerLink="/gestion/cer" title="Annuler les modifications sur le certificat {{ editedCertificate.nameCertificate }}">Annuler</a>
        <a *ngIf="editedCertificate.idCertificate" class="choix" role="button" (click)="onDelete()" title="Supprimer le certificat {{ editedCertificate.nameCertificate }}">Supprimer</a>
        <a class="choix" role="button" (click)="onSave()" title="Sauvegarder le certificat {{ editedCertificate.nameCertificate }}">Sauvegarder</a>
      </div>
    </div>
  </div>

  <div id="liste" title="Liste des applications">

    <h2>Recherche</h2>

    <div class="cadre2">
      <div id="filtres" *ngFor="let col of cols" [ngSwitch]="col.field">
        <div class="filtre1">
          <input *ngSwitchCase="'nameCertificate'" pInputText type="search" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="Par le nom du certificat">
        </div>
        <div class="filtre1">
          <input *ngSwitchCase="'applicationName'" pInputText type="search" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="Par le nom de l'application">
        </div>
        <div class="filtre1">
          <input *ngSwitchCase="'dateEndValidity'" pInputText type="search" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="Par l'année de fin de validité">
        </div>
      </div>
    </div>

    <h2 id="espace">Liste des Certificats</h2>

    <div id="table">
      <div id="autour">
        <p-table #dt [columns]="cols" [value]="listCertificates" [paginator]="true" [rows]="9" dataKey="nameCertificate" [reorderableColumns]="true"
                 selectionMode="single" [(selection)]="selectedCertificate" stateStorage="session" stateKey="statedemo-session">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th id="th1" *ngFor="let col of cols" [pSortableColumn]="col.field" class="{{col.field}}" colspan="col.colspan" [ngStyle]="{'width': col.width}" pReorderableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-certificate let-columns="columns">
            <tr routerLink="/gestion/cer/{{certificate.idCertificate}}" [pSelectableRow]="certificate">
              <td *ngFor="let col of cols" class="{{col.field}}">{{ certificate[col.field] }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

</div>


<!--<div>
  <a role="button" title="Ajouter un certificat">Ajouter un certificat</a>
</div>
<div class="titre" title="Liste des certificats">
  <h1>Liste des Certificats</h1>
</div>

<div class="cadre">
  <table class="table1">
    <thead>
    <tr>
      <th class="th1">Nom Certificat</th>
      <th class="th2">Nom Application</th>
      <th class="th2"></th>
    </tr>
    </thead>

    <tbody *ngFor="let certificate of certificatesList | async"
           title="Certificat {{ certificate.environment.nameEnvironment }} de l'application {{ certificate.application.nameApplication }}">
    <tr>
      <td>{{ certificate.nameCertificate }}</td>
      <td>{{ certificate.application.nameApplication }}</td>
      <td>
        <a role="button"
           title="Modification du  certificat {{ certificate.environment.nameEnvironment }} de l'application {{ certificate.application.nameApplication }}">Modifier</a>
        <a role="button"
           title="Modification du  certificat {{ certificate.environment.nameEnvironment }} de l'application {{ certificate.application.nameApplication }}">Supprimer</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>-->
