<div class="titre" title="Administration des certificats">
  <h1>Administration des Certificats</h1>
</div>



<div class="cadre">

<!--  <div id="formulaire">
    <h1 *ngIf="editedCertificat.idCertificat; else elseBlock1"
        title="Formulaire pour modifier l'application {{ editedCertificat.nameCertificat }}">Modification du certificat <br>{{ editedCertificat.nameCertificat }}</h1>
    <ng-template #elseBlock1 title="Formulaire pour ajouter un certificat"><h1>Ajout d'un certificat <br></h1></ng-template>
    <h2>* Champs obligatoires</h2>
    <form>
      <div>
        <div class="form-control">
          <label for="ccx">Code CCX * : </label>
          <input type="search" id="ccx" [(ngModel)]="editedApplication.codeCCX" name="ccx"
                 placeholder="Entrez le code CCX"
                 required title="Champ pour le code CCX de l'application">
        </div>
        <br>
        <div class="form-control">
          <label for="nameApp">Nom de l'application * : </label>
          <input type="search" id="nameApp" [(ngModel)]="editedApplication.nameApplication" name="nameApp"
                 placeholder="Entrez nom d'application"
                 required title="Champ pour le nom de l'application">
        </div>
        <br>
        <div class="form-control">
          <label for="nameClient">Nom du client * : </label>
          <input type="search" id="nameClient" [(ngModel)]="editedApplication.nameClient" name="nameClient"
                 placeholder="Entrez le nom du client"
                 required title="Champ pour le nom du client de l'application">
        </div>
        <br>
        <div class="form-control">
          <label for="firstNameClient">Nom du client * : </label>
          <input type="search" id="firstNameClient" [(ngModel)]="editedApplication.firstNameClient" name="firstNameClient"
                 placeholder="Entrez le prénom du client"
                 required title="Champ pour le prénom du client de l'application">
        </div>
        <br>
        <div class="form-control">
          <label for="managementClient">Direction du client * : </label>
          <input type="search" id="managementClient" [(ngModel)]="editedApplication.managementClient" name="managementClient"
                 placeholder="Entrez direction du client"
                 required title="Champ pour la direction du client de l'application">
        </div>
        <br>
        <div class="form-control">
          <label for="phoneClient">Téléphone du client * : </label>
          <input type="search" id="phoneClient" [(ngModel)]="editedApplication.phoneClient" name="phoneClient"
                 placeholder="Entrez téléphone du client"
                 required title="Champ pour le téléphone du client de l'application">
        </div>
        <br>
        <div class="form-control">
          <label for="mailClient">E-Mail du client * : </label>
          <input type="search" id="mailClient" [(ngModel)]="editedApplication.eMailClient" name="mailClient"
                 placeholder="Entrez le e-mail du client"
                 required title="Champ pour le e-mail du client de l'application">
        </div>
        <br>
      </div>
    </form>
    <br>
    <div id="modification">
      <a *ngIf="editedApplication.idApplication" id="supprime" role="button" (click)="onDelete()" title="Supprimer le service {{editedApplication.nameApplication}}">Supprimer</a>
      <a id="sauvegarde" role="button" (click)="onSave()" title="Sauvegarder le service {{editedApplication.nameApplication}}">Sauvegarder</a>
    </div>
  </div>-->

  <div title="Liste des certificats">
    <h1>Liste des Certificats</h1>

    <div id="table">
      <p-table #dt [columns]="cols" [value]="certificates" [paginator]="true" [rows]="10" dataKey="nameCertificate" [resizableColumns]="true" [reorderableColumns]="true"
               selectionMode="single" [(selection)]="selectedCertificate" stateStorage="session" stateKey="statedemo-session">
        <ng-template ptemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th id="bouton"></th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <input class="filtre" *ngSwitchCase="'nameCertificate'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="Nom Certificat">
    <!--          <input class="filtre" *ngSwitchCase="'applications.nameApplication'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="Nom Application">-->
    <!--          <div *ngSwitchCase="'dateEndValidity'">
                Value < {{ yearFilter }}
                <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor: pointer" *ngIf="yearFilter"></i>
                <p-slider [style]="{'width': '100%', 'margin-top': '8px'}" [(ngModel)]="yearFilter" [min]="2015" [max]="2021" (onChange)="onYearChange($event, dt)"></p-slider>
              </div>-->
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-certificates let-columns="columns">
          <tr [pSelectableRow]="certificates">
            <td *ngFor="let col of columns">{{ certificates[col.field] }}</td>
            <td><a role="button" routerLink="/gestion/cer/{{certificates.idCertificate}}"
                   title="Modification du certificat {{ certificates.idCertificate }}">Modifier/Supprimer</a></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>






<div>
  <a role="button" title="Ajouter un certificat">Ajouter un certificat</a>
</div>
<div class="titre" title="Liste des certificats">
  <h1>Liste des Certificats</h1>
</div>

<div class="cadre">
  <table class="table1">
    <thead>
    <tr>
      <th class="th1">Nom Certificat</th>
      <th class="th2">Nom Application</th>
      <th class="th2"></th>
    </tr>
    </thead>

    <tbody *ngFor="let certificate of certificatesList | async"
           title="Certificat {{ certificate.environment.nameEnvironment }} de l'application {{ certificate.application.nameApplication }}">
    <tr>
      <td>{{ certificate.nameCertificate }}</td>
      <td>{{ certificate.application.nameApplication }}</td>
      <td>
        <a role="button"
           title="Modification du  certificat {{ certificate.environment.nameEnvironment }} de l'application {{ certificate.application.nameApplication }}">Modifier</a>
        <a role="button"
           title="Modification du  certificat {{ certificate.environment.nameEnvironment }} de l'application {{ certificate.application.nameApplication }}">Supprimer</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
