/* CADRE */
section {
  border: 1px solid #003DA5;
  border-radius: 5px;
  width: 30%;
  min-width: 300px;
  text-align: center;
  background-color: #D9EAF4;
  margin: 40px auto 50px auto;
  padding-bottom: 20px;
}

/* TITRE */
h1 {
  font-size: 20px;
}

h2 {
  font-size: 10px;
  color: brown;
}

/* FORMULAIRE */
mat-form-field
{
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
}

::placeholder {
  color: brown;
}

mat-error {
  color: brown;
}

/* BOUTON */
#connexion {
  margin-top: 20px;
}

a {
  padding: 2px 5px;
}

a[role="button"] {
  color: black;
  font-size: 12px;
  background-color: #9CC6DA;
  border: 1px solid #003DA5;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 10px;
}

a[role="button"]:hover {
  color: #FFCB05;
  background-color: #003DA5;
}

/* ADAPTABILITE */
@media (max-width: 400px) {
  section {
    min-width: 250px;
  }

  h1 {
    font-size: 16px;
  }
}
