<head>
  <title>Login - GestiCert</title>
</head>

<section id="authentification" title="Formulaire d'authentification">
  <form #logForm="ngForm" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <div>
    <h1>Authentification requise</h1>
    <h2>* Champs obligatoire</h2>
  </div>


      <div class="example-container" title="Champ pour l'identifiant RH">
              <mat-form-field>
                <input matInput placeholder="Identifiant RH *" formControlName="idRHUser">
                <mat-error *ngIf="loginForm.controls['idRHUser'].hasError('required')">
                  L'identifiant RH est <strong>obligatoire</strong>
                </mat-error>
              </mat-form-field>
      </div>
        <div class="example-container" title="Champ pour le mot de passe">
              <mat-form-field>
                <input matInput type="password" placeholder="Mot de passe *" [type]="hide ? 'password' : 'text'" formControlName="passwordUser">
                <button mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.controls['passwordUser'].hasError('required')">
                  Le mot de passe est <strong>obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
      <div id="connexion" title="Bouton pour se connecter">
        <a role="button" value="connexion" (click)="onSubmit(logForm)">connexion</a>
      </div>

    </form>

</section>


